{% assign informations = product.metafields.informations %}

<div class="tab-customize">
  <button class="tablinks-cus active" onclick="openTab(event, 'tab-1')" id="tab-cus-active" >Description</button>
  <button class="tablinks-cus" onclick="openTab(event, 'tab-2')">Détails</button>
  <button class="tablinks-cus" onclick="openTab(event, 'tab-3')">Livraison et retours</button>
</div>
<!-- Tab content -->
<div id="tab-1" class="tabcontent-cus" style="display: block;">
  {{ informations.description }}
</div>
<div id="tab-2" class="tabcontent-cus ">
  {{ informations.details }}
</div>
<div id="tab-3" class="tabcontent-cus ">
  {{ pages.livraison-et-retours.content }}
</div>
<style>
.tab-customize {
  overflow: hidden;
}
.tab-customize button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  opacity: 0.6;
}
.tab-customize button.active {
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  opacity: 1;
}
.tabcontent-cus {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
</style>