{% section 'hero-assemblage' %}
{% section 'custom-content-assemblage' %}
<div class="assemblage-products-button"><a href="/collections/assemblage" class="btn btn--secondary btn--has-icon-before return-link">Découvrez les produits Assemblage</a></div>

<style>
.assemblage-products-button {
    display: flex;
    width: 100%;
    justify-content: center;
}
</style>